html {
  scroll-behavior: smooth;
}

body {
  font-family: georgia, garamond serif;
  margin: 0;
}

.header_menu li a {
  font-family: "Arial";
  font-style: normal;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.19em;
  font-weight: 400;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 0.93em;
  font-weight: 400;
  font-family: "Arial";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header_block {
  margin-left: 40px;
  margin-right: 40px;
  margin: auto;
  max-width: 75em;
}

.header_logo {
  margin-top: 8px;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_menu h2 {
  color: #F1CDB3;
  margin-top: 30px;
  margin-bottom: 10px;
}
.header_menu p {
  font-size: 13px;
  margin-top: 0px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}
.header_menu li {
  margin-left: 29px;
}
.header_menu li a {
  color: #CDCDCD;
}
.header_menu li a:nth-child(1) {
  margin-left: 0px;
}

.menu_item_border {
  border-bottom: 2px solid #F1CDB3;
}

.header_menu a:hover {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #FAFAFA;
  border-bottom: 2px solid #F1CDB3;
}

.header_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 73px;
}

.header_start_title {
  margin-bottom: 96px;
}
.header_start_title h1 {
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 0px;
}
.header_start_title p {
  color: #CDCDCD;
  max-width: 460px;
  margin: 56px 0px 57px;
}
.header_start_title a {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  color: #292929;
}

.header_start_title a:hover {
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 3px #F1CDB3;
          box-shadow: inset 0 0 0 3px #F1CDB3;
  cursor: pointer;
}

.header_block_img img {
  margin-bottom: -4px;
  max-width: 44em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 40px 95px;
}

.about_block_title {
  margin-left: 120px;
  max-width: 430px;
}
.about_block_title h2 {
  color: #545454;
  line-height: 130%;
}
.about_block_title p {
  color: #4C4C4C;
  line-height: 160%;
}

.pets {
  background: #F6F6F6;
  padding-top: 60px;
}
.pets .pets_btn {
  text-align: center;
  margin-top: 60px;
}
.pets .pets_btn a {
  background: #F1CDB3;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
}

.pets_block_title h2 {
  color: #545454;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}
.slider button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  padding: 20px;
}

.slider li:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.pets_block_slider {
  margin: 0px 40px;
  padding-bottom: 122px;
}

.pets_btn a:hover {
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  color: #292929;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 3px #F1CDB3;
          box-shadow: inset 0 0 0 3px #F1CDB3;
  cursor: pointer;
}

.right:hover {
  background-color: #F1CDB3;
  cursor: pointer;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.left:hover {
  background: #F1CDB3;
  cursor: pointer;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.pets_pagination .left:hover {
  background: #CDCDCD;
  color: #F6F6F6;
  cursor: pointer;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.slide a:hover {
  cursor: pointer;
  background-color: #F1CDB3;
  -webkit-transform: scale(1.1) translateY(0);
          transform: scale(1.1) translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.slide {
  background: #FAFAFA;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}
.slide:nth-child(3) {
  margin: 0px;
}
.slide h3 {
  color: #545454;
  font-weight: 400;
  margin: 30px 0px;
}
.slide a {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  color: #4C4C4C;
}

.help {
  margin: 80px 0px 84px;
}

.help_block {
  margin: auto;
  max-width: 1280px;
}
.help_block h2 {
  color: #545454;
  text-align: center;
  margin-bottom: 0px;
}
.help_block ul {
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 19px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}
.help_block li {
  margin-top: 60px;
  text-align: center;
}
.help_block h3 {
  color: #545454;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 300;
}

.donation {
  background: #F6F6F6;
  padding: 81px 0px 85px;
}

.donation_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donation_block .donation_block_img {
  margin-right: 30px;
}
.donation_block .donation_block_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.donation_block .donation_block_title h2 {
  color: #545454;
  margin: 0;
}
.donation_block .donation_block_title p {
  color: #545454;
  margin: 20px 0px 20px;
}
.donation_block .donation_block_title i {
  color: #B2B2B2;
  width: 380px;
  margin-top: 20px;
}
.donation_block .donation_block_title a {
  background: #F1CDB3;
  border: none;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}
.donation_block .donation_block_title a h3 {
  color: #545454;
  font-weight: 400;
  margin: 0px;
}
.donation_block .donation_block_title a img {
  margin-right: 15px;
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer .footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 41px;
  margin: auto;
  max-width: 87em;
}
.footer .footer_block ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer_block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_block a img {
  margin-right: 20px;
}
.footer .footer_block h2 {
  margin: 0;
  color: #FFFFFF;
}
.footer .footer_block p {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
}
.footer .footer_block img {
  margin-bottom: -4px;
}
.footer .footer_block_contact {
  max-width: 270px;
}
.footer .footer_block_location {
  max-width: 278px;
}

.header_menu_pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Arial";
}
.header_menu_pets a {
  color: #292929;
  margin-top: 0px;
}
.header_menu_pets h2 {
  color: #F1CDB3;
  margin-bottom: 0px;
  font-family: "Georgia";
}
.header_menu_pets p {
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: "Arial";
}
.header_menu_pets ul li {
  margin-left: 35px;
}
.header_menu_pets ul li a {
  color: #545454;
}

.header_menu_pets a:hover {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #292929;
  border-bottom: 2px solid #F1CDB3;
}

.pets_cards_container {
  padding-bottom: 118px;
}
.pets_cards_container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (460px)[2];
  grid-template-rows: repeat(2, 460px);
  max-width: 75em;
  margin: auto;
}
.pets_cards_container ul > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.pets_cards_container ul > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.pets_cards_container ul > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.pets_cards_container ul > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.pets_cards_container ul > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.pets_cards_container ul > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.pets_cards_container ul > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.pets_cards_container ul > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.pets_cards_container ul .card {
  margin-right: 40px;
}

.pets_cards_container li:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.pets_pagination {
  text-align: center;
  margin-top: 54px;
}
.pets_pagination a.left {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
}
.pets_pagination a.right {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
}
.pets_pagination a.btn {
  padding: 15px 20px;
}
.pets_pagination a.double {
  padding: 15px 15px;
}
.pets_pagination a.count {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 22px;
  font-size: 20px;
  color: #292929;
}

.header_menu_burger {
  display: none;
  position: sticky;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 2;
  right: 20px;
  background: none;
}

.header_menu_burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #F1CDB3;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.header_menu_burger span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  left: 5px;
}

.header_menu_burger span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header_pets.open .header_menu_burger {
  -webkit-transform: translateY(0) rotate(90deg);
          transform: translateY(0) rotate(90deg);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.header_pets.open span {
  background-color: #F1CDB3;
}

.header_menu_burger span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  left: 5px;
}

.header_menu_burger span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header.open .header_menu_burger {
  -webkit-transform: translateY(0) rotate(90deg);
          transform: translateY(0) rotate(90deg);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.pets_menu_burger span {
  background-color: #000000;
}

@media (max-width: 1260px) {
  .header_logo {
    margin-top: 0;
  }
  .slide:nth-child(3) {
    display: none;
  }
  .header_menu {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header_start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .header_block_img img {
    max-width: 35.5em;
  }
  .header_start_title p {
    max-width: 63em;
    text-align: left;
    margin-bottom: 51px;
    line-height: 160%;
  }
  .header_start_title {
    width: 65%;
    text-align: center;
    margin-top: -10px;
  }
  .header_start_title h1 {
    text-align: left;
  }
  .header_block_img {
    margin-top: 22px;
  }
  .about_block_img {
    margin-top: 45px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 51px 40px 95px;
  }
  .about_block_img {
    margin-top: 60px;
  }
  .help_block ul {
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
    margin-left: 69px;
    margin-right: 69px;
  }
  .help_block h3 {
    font-weight: 300;
  }
  .help {
    margin: 71px 0px 84px;
  }
  .donation {
    padding: 86px 0px 95px;
  }
  .donation_block .donation_block_img {
    margin-top: 43px;
  }
  .pets_cards_container ul {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    max-width: 73em;
  }
  .card:nth-child(4) {
    display: none;
  }
  .pets_cards_container ul {
    margin-top: 61px;
    margin-left: 0;
  }
}
@media (max-width: 1028px) {
  .header_menu {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header_start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .header_block_img img {
    max-width: 35.5em;
  }
  .about_block_title {
    margin-left: 0;
  }
  .pets_block_slider {
    margin: 0px 30px;
  }
  .slider ul {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .slide {
    margin-right: 0px;
  }
  .donation_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .footer .footer_block {
    padding-top: 35px;
  }
  .footer_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 35px;
  }
  .footer_block_contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_block_location {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_block_img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 30px;
  }
  .help_block li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  .help_block h3 {
    font-size: 1.1rem;
  }
  .header_menu_pets {
    margin: 0px 8px;
    margin-top: -10px;
  }
  .card:nth-child(5) {
    display: none;
  }
  .card:nth-child(8) {
    display: none;
  }
  .pets_cards_container ul {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 754px) {
  .header_menu_pets ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 10px;
  }
  .header_menu_pets ul li a {
    color: #CDCDCD;
    font-size: 2em;
  }
  .menu_item .menu_item_border {
    color: #FAFAFA !important;
  }
  .header_menu_burger {
    display: block;
    margin-top: 13px;
  }
  .menu {
    position: fixed;
    right: -93vw;
    top: 0;
    width: 80vw;
    height: 100%;
    background-color: #292929;
    padding: 158px 39px 39px 40px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 1;
  }
  .header_menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    padding: 0 0 40px 0;
  }
  .header_menu a {
    font-size: 32px;
    line-height: 160%;
    padding: 40px 0px;
  }
  .header_pets.open .menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header.open .menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .slide:nth-child(2) {
    display: none;
  }
  .header_block_img img {
    max-width: 80%;
  }
  .header_start_title h1 {
    text-align: center;
  }
  .header_start_title p {
    text-align: center;
  }
  .about_block_title h2 {
    text-align: center;
  }
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider ul {
    margin-right: -15em;
    margin-bottom: 5em;
  }
  .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 7em;
  }
  .right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0em;
    margin-right: 3em;
  }
  .pets_btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
  }
  .header_menu li a:nth-child(1) {
    padding-bottom: 9px;
  }
  .pets_cards_container ul {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .pets_pagination .left {
    margin-right: 0;
  }
  .pets_pagination .right {
    margin-right: 0;
  }
  .menu_pets {
    right: -95vw;
  }
}
@media (max-width: 550px) {
  .donation_block_img img {
    width: 16.25rem;
  }
}
@media (max-width: 450px) {
  .help_block ul {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .help_block li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .help_block ul {
    margin-left: 15px;
    margin-right: 15px;
  }
  .header_start_title {
    width: 100%;
  }
  .about_block_img img {
    width: 16.25rem;
  }
  .about {
    margin: 12px 25px 95px;
  }
  .about_block_title {
    width: 100%;
  }
  .about_block_title h2 {
    letter-spacing: 0em;
    font-size: 1.8em;
  }
  .about_block_img {
    margin-top: 24px;
  }
  .slider ul {
    margin-right: 0em;
    margin-bottom: 2em;
  }
  .right {
    margin-left: 0em;
    margin-right: 0em;
  }
  .donation_block .donation_block_title i {
    width: 90%;
  }
  .donation_block .donation_block_title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation_block .donation_block_title h2 {
    text-align: center;
  }
  .menu {
    right: -121vw;
    width: 95%;
  }
  .menu_pets {
    right: -115vw;
  }
}
@media (max-width: 350px) {
  .donation_block .donation_block_title a h3 {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.9em;
    text-align: center;
    letter-spacing: 0.06em;
  }
  i {
    font-size: 0.75em;
  }
  .footer_block_img img {
    width: 16.25em;
  }
  .menu {
    right: -129vw;
    width: 100%;
  }
  .pets_cards_container {
    padding-bottom: 69px;
  }
  .pets_cards_container ul {
    padding: 0;
    margin-top: 39px;
  }
  .pets_cards_container ul .card {
    margin-right: 0px;
  }
  h1 {
    font-size: 1.75em;
  }
  .header_start_title p {
    margin: 36px 0px 38px;
  }
  .header_block_img img {
    max-width: 102%;
  }
  .pets_block_title {
    margin-top: 81px;
  }
  .pets_block_title h2 {
    padding-top: 38px;
    font-size: 1.7em;
    letter-spacing: 0em;
  }
  .pets_block_slider {
    padding-bottom: 71px;
  }
  .pets .pets_btn {
    margin-top: 40px;
  }
  .slider ul {
    margin-bottom: 1em;
  }
  .pets {
    margin-top: -58px;
    padding-top: 0;
  }
  .help_block h2 {
    margin-top: -37px;
  }
  .help_block img {
    width: 50px;
  }
  .help_block li {
    margin-top: 25px;
  }
  .help_block h3 {
    font-size: 1rem;
    margin-top: 19px;
  }
  .help_block h2 {
    font-size: 1.7em;
    letter-spacing: 0em;
  }
  .help {
    margin: 78px 0px 84px;
  }
  .donation {
    padding: 41px 0px 40px;
    margin-top: -44px;
  }
  .donation_block .donation_block_title h2 {
    font-size: 1.7em;
    letter-spacing: 0em;
  }
  .donation_block .donation_block_title p {
    margin: 30px 0px 20px;
  }
  .donation_block .donation_block_title i {
    margin-top: 21px;
    line-height: 18px;
  }
  .donation_block_img img {
    width: 16rem;
    margin-left: 28px;
  }
  .footer .footer_block h2 {
    font-size: 1.6em;
    margin-top: 7px;
  }
  .footer_block_img {
    margin-top: 23px;
  }
  .footer .footer_block ul {
    margin-top: 19px;
  }
  .header_menu {
    margin-left: 20px;
    margin-right: 1px;
  }
  .header_menu_burger {
    margin-top: 14px;
    margin-bottom: 0px;
  }
  .header_menu_pets h2 {
    color: #545454;
  }
  .header_menu_pets {
    margin: 4px 18px 0px 20px;
  }
}